<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PROYECTO3Entities" connectionString="metadata=&quot;res://*/PROYECTO3_BASEdDATOS.PROYECTO3 CONEXION.csdl|res://*/PROYECTO3_BASEdDATOS.PROYECTO3 CONEXION.ssdl|res://*/PROYECTO3_BASEdDATOS.PROYECTO3 CONEXION.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=JEREMY;initial catalog=PROYECTO3;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PROYECTO3Entities1" connectionString="metadata=res://*/PROYECTO3_BASEdDATOS.Model1.csdl|res://*/PROYECTO3_BASEdDATOS.Model1.ssdl|res://*/PROYECTO3_BASEdDATOS.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JEREMY;initial catalog=PROYECTO3;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PROYECTO3Entities2" connectionString="metadata=res://*/PROYECTO3_BASEdDATOS.PROYECTO3Model.Designer.csdl|res://*/PROYECTO3_BASEdDATOS.PROYECTO3Model.Designer.ssdl|res://*/PROYECTO3_BASEdDATOS.PROYECTO3Model.Designer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JEREMY;initial catalog=PROYECTO3;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PROYECTO3Entities3" connectionString="metadata=&quot;res://*/PROYECTO3_BASEdDATOS.PROYECTO 3.csdl|res://*/PROYECTO3_BASEdDATOS.PROYECTO 3.ssdl|res://*/PROYECTO3_BASEdDATOS.PROYECTO 3.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=JEREMY;initial catalog=PROYECTO3;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>